
%nav
  %ul.list-unstyled.pb-md-2
    %li
      %strong.fw-semibold
        开拓者
      %ul.fw-normal.list-unstyled.pb-2
        %li.links-link
          信息
        %li.links-link
          角色
    %li
      %strong.fw-semibold
        系统
      %ul.fw-normal.list-unstyled.pb-2
        %li.links-link
          角色
        %li.links-link
          光锥
        %li.links-link
          遗器
        %li.links-link
          养成材料